/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    align-items: center;
}

.name {
    color: white;
    font-size: x-large;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.content {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 64px;
}

.hero-text{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 16px;
}

.hero .heading {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.hero .text {
    color: lightgray;
    font-size: large;
}

.logo {
    width: 300px;
    height: auto;
    border-radius: 8px;
}