/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    align-items: center;
}

.name {
    color: white;
    font-size: x-large;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.content {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 64px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 16px;
}

.hero .heading {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.hero .text {
    color: lightgray;
    font-size: large;
}

.logo {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.info{
    padding: 16px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-container img {
    width: 200px;
    flex: 1 1 auto;
    border-radius: 8px;
    border: 8px solid #1F2937;
}

.card-container .text {
    font-size: medium;
    font-weight: lighter;
    color: #1F2937;
}

.quote {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.quote-and-author {
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: larger;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: larger;
}